html, body {
    height: 100%;
    min-height: 100%;
}

.content-center {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.btn {
    background: #3b5998;
    color: #FFF;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    background: #426ab0;
}